{% extends "base.html.twig" %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div class="container">

				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<form action="{{ path('recette_fourn') }}" method="POST">

								<select class="form-control" name="tliv">
									<option>Fournisseur</option>
									{% for livreur in livreurs %}
										<option>{{ livreur.name }}</option>


									{% endfor %}

								</select>
								
                
								<input type="submit" value="Filtrer"/>
							</form>
						</div>

					</div>


				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">

					<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>

								<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">fournisseur</th>

								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Prix</th>


								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Date de création</th>

								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Destination</th>

							</tr>
						</thead>
						<tbody>
							{% if colis | length ==1 %}
								<tr role="row" class="odd">
									<td>{{colis.0.id}}</td>
									<td>{{colis.0.fournisseur.name}}</td>
									<td>{{colis.0.prix}}</td>
									<td>{{colis.0.createdat | date("d-m-y")}}</td>
									<td>{{colis.0.destination}}</td>
								</tr>
							{% else %}
								{% for coli in colis %}

									{% if x % 2 ==1 %}
										<tr role="row" class="odd">
											<td>{{coli.id}}</td>
											<td>{{coli.fournisseur.name}}</td>
											<td>{{coli.prix}}</td>
											<td>{{coli.createdat | date("m/d/Y")}}</td>
											<td>{{coli.destination}}</td>

										</tr>
										{% set x = x+1 %}
									{% else %}
										<tr role="row" class="even">
											<td>{{coli.id}}</td>
											<td>{{coli.fournisseur.name}}</td>
											<td>{{coli.prix}}</td>
											<td>{{coli.createdat | date("m/d/Y")}}</td>
											<td>{{coli.destination}}</td>
										</tr>
										{% set x = x+1 %}
									{% endif %}
								{% endfor %}
							{% endif %}
						</tbody>

					</table>
					<!-- /.card-body -->
					<div class="container">
						<div class="row">
							<div style="text-align:center; position:relative; left:300px;">
								<h1>Recette du
									{{ dat | date("Y/m/d") }}
								</h1>
								<h1>{{ s }}
									TND</h1>
							</div>
						</div>
					</div>
				</div>
				
				<!-- /.card -->


				<!-- page script -->

			{% endblock %}
