Bonjour

Merci de nous avoir choisi pour vos livraisons , vous trouverez ci-joint vos informations de connexion à votre compte:
    -votre Pseudo : {{ username }} .
    _Votre mot de passe : {{ pass }}