{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="form-group">

			<input type="text" placeholder="Code Colis" id="code_rc"/>
			<input type="button" onclick="f()" value="Ajouter"/>


			<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
				<thead>
					<tr role="row">
						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>

						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Prix</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Etat</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Date de création
						</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Remarque</th>
					</tr>
				</thead>
				<tbody>
					
						{% for coli in colis %}

							{% if x % 2 ==1 %}
								<tr role="row" class="odd" hidden>
									<td>
										<input type="checkbox" name="ch" id="{{coli.id.id}}">
									</td>
									<td>{{coli.id.id}}</td>
									<td>{{ coli.id.Fournisseur.name }}
										{{ coli.id.Fournisseur.lastname }}</td>
									<td>{{coli.id.prix}}</td>
									<td>{{coli.id.etat}}</td>
									<td>{{coli.id.createdat | date("m/d/Y")}}</td>
									<td>{{coli.id.rq}}</td>
								</tr>
								{% set x = x+1 %}
							{% else %}
								<tr role="row" class="even" hidden>
									<td>
										<input type="checkbox" name="ch" id="{{coli.id.id}}">
									</td>
									<td>{{coli.id.id}}</td>
									<td>{{ coli.id.Fournisseur.name }}
										{{ coli.id.Fournisseur.lastname }}</td>
									<td>{{coli.id.prix}}</td>
									<td>{{coli.id.etat}}</td>
									<td>{{coli.id.createdat | date("m/d/Y")}}</td>
									<td>{{coli.id.rq}}</td>
								</tr>
								{% set x = x+1 %}
							{% endif %}
						{% endfor %}
					
				</tbody>

			</table>

			<form action="{{ path('create_run') }}" method="POST">
				<select class="form-control" name="tliv">
					<option>livreur</option>
					{% for livreur in livreurs %}
						<option>{{ livreur.name }}
						</option>

					{% endfor %}

				</select>


				<input type="text" placeholder="Code Colis" id="code" name="code_rc" hidden/>
				<br>
				<br>
				<input type="submit" value="Envoyer" class="btn btn-primary"/>
			</form>

		</div>
		<script>
			String.prototype.replaceAt = function (index, char) {
if (char == '') {
return this.slice(0, index) + this.substr(index + 1 + char.length);
} else {
return this.substr(0, index) + char + this.substr(index + char.length);
}
}
function f() {
var x = document.getElementById("code_rc").value;
var e = document.getElementsByName("ch");
var e1 = document.getElementById("code");
console.log(x);
var y = "";
if (x[0] == "A") {
for (let i = 7; i < 12; i++) {
y = y + x[i];

}
var j = "";
for (let i = 0; i <5; i++) {
	
	if (y[i] == "0") {
	y = y.replaceAt(i, '');
	console.log(y[i]);
	} else {

		break;
	}
	
	
	
}
x=y.replaceAt(0,'');
}
console.log(y);

var i = 0;
e.forEach(element => {
if (element.id == x) {
i = 1;
(element.parentElement).parentElement.removeAttribute("hidden");
e1.value = e1.value + x + "/";
console.log(e1.value);
}
});

console.log(i);
if (i === 0) 
alert("Error , please verify the code or rescan it !");



}
		</script>
	{% endblock %}
