{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="form-group" >
        <form action="{{ path('runsheet_liv') }}" method="POST">
            <select class="form-control" name="tliv">
                <option>livreur</option>
                {% for livreur in livreurs %}
                    <option>{{ livreur.name }}</option>
                    
                {% endfor %}
                    
            </select>
        </div>
        
            <input type="text" placeholder="Code Colis" name="code_rc"  />
            <input type="submit" value="Envoyer" />
        </form>

    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code</th>

                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Téléphone fournisseur</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Destination</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Client</th>
                  
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Téléphone client</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Montant</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Motif</th>
                  </tr>
                  </thead>
                  <tbody>
                        {% for coli in colis %}   

                            {% if x % 2 ==1 %}
                            <tr role="row" class="odd">
                                            <td></td>
                                            <td>{{coli.id.id}}</td>
                                            <td>{{coli.id.fournisseur.name}}</td>
                                            <td>{{coli.id.fournisseur.tel}}</td>
                                            <td>{{ coli.id.destination }}</td>
                                            <td>{{ coli.id.nomC }} {{ coli.id.prenomC }}</td>
                                            <td>{{ coli.id.telC }}</td>
                                            <td>{{coli.id.prix}}</td>
                                            <td>{{coli.id.rq}}</td>
                                        </tr>
                                        {% set x = x+1 %}
                            {% else %}
                                       <tr role="row" class="even">
                                            <td></td>
                                            <td>{{coli.id.id}}</td>
                                            <td>{{coli.id.fournisseur.name}}</td>
                                            <td>{{coli.id.fournisseur.tel}}</td>
                                            <td>{{ coli.id.destination }}</td>
                                            <td>{{ coli.id.nomC }} {{ coli.id.prenomC }}</td>
                                            <td>{{ coli.id.telC }}</td>
                                            <td>{{coli.id.prix}}</td>
                                            <td>{{coli.id.rq}}</td>
                                        </tr>
                                        {% set x = x+1 %}
                            {% endif %}                     
                        {% endfor %}
                    
                    </tbody>

                </table>
                
                <form action="{{ path('create_run',{ 'idliv' : liv }) }}">
                    <input type="submit" value="Create">
                </form>

    </div>              
            

    {% endblock %}        


