{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
<div class="row" onload="load()">
          <div class="col-12 col-lg-8 m-auto">
            
            {{ form_start(form , {'attr' : {'class' : 'multisteps-form__form'  } }) }}
            
                
                
                  
               
                            
           
             
              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                <h3 class="multisteps-form__title">informations livreur</h3>
                <div class="multisteps-form__content">
                  <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
                      {{ form_row(form.name , {'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                      {{ form_row(form.lastname, {'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                    </div>
                  </div>

                  <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
                       {{ form_row(form.tel, {'attr' : {'class' : 'multisteps-form__input form-control'  } }) }} 
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                       {{ form_row(form.email, {'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                    </div>
                  </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-sm-6">
                            {{ form_row(form.cin,{'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                        </div>

                        <div class="col-12 col-sm-6">
                            {{ form_row(form.matricule,{'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                        </div>
                        
                    </div>
                    
                    <div class="form-row mt-4">
                    
                    <div class="col-12 col-sm-6">
                            {{ form_row(form.permis,{'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                        </div>

                        <div class="col-12 col-sm-6">
                            {{ form_row(form.carteg,{'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                        </div>
                        <div class="col-12 col-sm-6">
                     {{ form_row(form.photo,{'attr' : {'class' : 'multisteps-form__input form-control'  } }) }}
                    </div>

                    </div>
                  
                  <div class="button-row d-flex mt-4">
                    <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
                  </div>
                 {{  form_end(form) }}
                </div>
              </div>

              </div>
              </div>
            
      
        <script>
                function clearOpt(){
                  var vilesel=document.getElementById('villesel');
                    for (i = vilesel.options.length-1; i >= 0; i--) {
                      vilesel.options[i] = null;
                                  }
  }
        
        </script>
         <script type="text/javascript" src="{{ asset ('data.json') }} "></script>
         <script>
           function myFunction() {
              var x = document.getElementById("gouvsel");
                 clearOpt()
              if (x.selectedIndex >= 0) {
                  console.log("mydata");
                console.log("x.selectedIndex");
                    console.log(x.value);
                    var mydata = JSON.parse(window[x.value]);
                for(var i = 0;i < mydata.length; i++)
                {   
                     document.getElementById('villesel').innerHTML =
                      document.getElementById('villesel').innerHTML+
                      "<option value="+i+" name='ville'>"+mydata[i].NAME_EN+"</option>";
                         
                      console.log(mydata[i].NAME_EN) ;
                      console.log(mydata[i].code_postal) ;
                }

             
            }
            
            
                       }            </script>
           

            <script>
            function mycode() {
               var x = document.getElementById("gouvsel");
               if (x.selectedIndex >= 0) {
                     var mydata = JSON.parse(window[x.value]);
                     console.log(x);
                     console.log(mydata[x.selectedIndex-1].code_postal);
                     document.getElementById('zip').innerHTML =
                       document.getElementById('zip').innerHTML+
                       "<p>"+mydata[x.selectedIndex-1].code_postal+"</p>";
               
 
              
             }
 }
          </script>
        <script>
 
         
     

{% endblock %}
