{% extends "base.html.twig" %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length" id="example1_length">
							<label>Show
								<select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								entries</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div id="example1_filter" class="dataTables_filter">
							<label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">

						<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
							<thead>
								<tr role="row">

									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code</th>

									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nom</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Téléphone</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Gouvernorat
									</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Matricule</th>
									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Email</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Fin de contrat</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if users | length ==1 %}
									<tr role="row" class="odd">

										<td>{{users.id}}</td>

										<td>{{users.name}}
											{{users.lastname}}</td>
										<td>{{ users.tel }}</td>
										<td>{{ users.state }}
											{{users.city}}</td>

										<td>{{users.matricule}}</td>
										<td>{{users.email}}</td>
										<td>{{users.fcon | date("d/m/Y")}}</td>
										<td>
											<a href="#" class="btn btn-sm btn-danger">Editer</a>
											{% if users.etat == "Disabled" %}
												<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-alert">Disabled</a>
											{% else %}
												<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-success">Enabled</a>
											{% endif %}
										</td>
									</tr>
								{% else %}
									{% for user in users %}

										{% if x % 2 ==1 %}
											<tr role="row" class="odd">
												<td>{{ user.id }}</td>
												<td>{{user.name}}
													{{user.lastname}}</td>
												<td>{{ user.tel }}</td>
												<td>{{ user.state }}{{user.city}}</td>

												<td>{{user.matricule}}</td>
												<td>{{user.email}}</td>
												<td>{{user.fcon | date("d/m/Y")}}</td>
												<td>
													<a href="#" class="btn btn-sm btn-danger">Editer</a>
													{% if user.etat == "Disabled" %}
														<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-alert">Disabled</a>
													{% else %}
														<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-success">Enabled</a>
													{% endif %}
												</td>
											</tr>
											{% set x = x+1 %}
										{% else %}
											<tr role="row" class="even">
												<td>{{ user.id }}</td>
												<td>{{user.name}}
													{{user.lastname}}</td>
												<td>{{ user.tel }}</td>
												<td>{{ user.state }}
													{{user.city}}</td>
												<td>{{user.matricule}}</td>
												<td>{{user.email}}</td>
												<td>{{user.fcon | date("d/m/Y")}}</td>
												<td>
													{% if user.etat == "Enabled" %}
														<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-success">Enabled</a>
													{% else %}
														<a href="{{ path('user_enable', {'id' : user.id }) }}" class="btn btn-sm btn-alert">Disabled</a>
													{% endif %}
												</td>
											</tr>
											{% set x = x+1 %}
										{% endif %}
									{% endfor %}
								{% endif %}
							</tbody>

						</table>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->


					<!-- page script -->

				{% endblock %}
