{% extends "base.html.twig" %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length" id="example1_length">
							<label>Show
								<select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								entries</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div id="example1_filter" class="dataTables_filter">
							<label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<form action="{{ path('liste_console') }}" method="POST">
							<input type="text" name="tcons" id="tcons" class"form-group">
                            <input type="submit" value="Envoyer" class="btn btn-primary">
						</form>
						<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>

									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Type de service</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Type de colis</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Type d'énlevement</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Mode de paiement
									</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Prix</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Etat</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Date de création</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if colis | length ==1 %}
									<tr role="row" class="odd">
										<td>{{colis.0.codec}}</td>
										<td>{{colis.0.tserv}}</td>
										<td>{{colis.0.tcolis}}</td>
										<td>{{ colis.0.tenlev }}</td>
										<td>{{ colis.0.mpaie }}</td>
										<td>{{colis.0.prix}}</td>
										<td>{{colis.0.etat}}</td>
										<td>{{colis.0.createdat | date("d-m-y")}}</td>
										<td>
											<a href="{{ path('fiche_colis', {'id' : colis.0.id }) }}" class="btn btn-sm btn-success">Fiche</a>
										</td>
									</tr>
								{% else %}
									{% for coli in colis %}

										{% if x % 2 ==1 %}
											<tr role="row" class="odd">
												<td>{{coli.codec}}</td>
												<td>{{coli.tserv}}</td>
												<td>{{coli.tcolis}}</td>
												<td>{{ coli.tenlev }}</td>
												<td>{{ coli.mpaie }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.etat}}</td>
												<td>{{coli.createdat | date("m/d/Y")}}</td>

												<td>
													<a href="{{ path('fiche_colis', {'id' : coli.id }) }}" class="btn btn-sm btn-success">Fiche</a>
													<a href="#" class="btn btn-sm btn-danger">Editer</a>
												</td>
											</tr>
											{% set x = x+1 %}
										{% else %}
											<tr role="row" class="even">
												<td>{{coli.codec}}</td>
												<td>{{coli.tserv}}</td>
												<td>{{coli.tcolis}}</td>
												<td>{{ coli.tenlev }}</td>
												<td>{{ coli.mpaie }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.etat}}</td>
												<td>{{coli.createdat | date("m/d/Y")}}</td>

												<td>
													<a href="{{ path('fiche_colis', {'id' : coli.id }) }}" class="btn btn-sm btn-success">Fiche</a>
												</td>
											</tr>
											{% set x = x+1 %}
										{% endif %}
									{% endfor %}
								{% endif %}
							</tbody>

						</table>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->


					<!-- page script -->

				{% endblock %}
