{% extends "base.html.twig" %}
{% block head %}
	<head>
		<base href="C:\wamp64\www\demo\public\" >
	</head>
{% endblock %}
{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length" id="example1_length">
							<label>Show
								<select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								entries</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div id="example1_filter" class="dataTables_filter">
							<label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<form action="{{ path('liste_console') }}" method="POST">
							<input type="text" name="tcons" id="tcons" class"form-group">
                            <input type="submit" value="Envoyer" class="btn btn-primary">
						</form>
						<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
							<thead>
								<tr role="row">
									

                                	<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>

									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Prix</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Date de création</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Remarque</th>
								</tr>
							</thead>
							<tbody>
									</tr>
									{% for coli in colis %}

										{% if x % 2 ==1 %}
											<tr role="row" class="odd">
												<td>{{coli.id}}</td>
												<td>{{ coli.Fournisseur.name }}
													{{ coli.Fournisseur.lastname }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.createdat | date("m/d/Y")}}</td>
												<td>{{coli.rq}}</td>
											</tr>
											{% set x = x+1 %}
										{% else %}
											<tr role="row" class="even">
											
												
												<td>{{coli.id}}</td>
												<td>{{ coli.Fournisseur.name }}
													{{ coli.Fournisseur.lastname }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.createdat | date("m/d/Y")}}</td>
												<td>{{coli.rq}}</td>
											</tr>
											{% set x = x+1 %}
										{% endif %}
									{% endfor %}
							</tbody>

						</table>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->


					<!-- page script -->

				{% endblock %}
