{% extends "base.html.twig" %}

{% block body %}
<style>
    body {
 height:100%;
 padding:0;
 margin:0;

}
.history-tl-container{
    font-family: "Roboto",sans-serif;
  width:50%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
  width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}
</style>
    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container" style="margin: 0 position:relative; top:0; left:0; right:0;">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        <br> {{ colis.createdat | date("D/M/Y")}}
      </div>
      <div class="item-title">Création du colis</div>
      <div class="item-detail">En attente d'énlevement</div>
    </li>

    {% for etat in colis.etats %}
        
    {% if etat == "enleve" %}
    
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        {{ colis.enlevat | date("d/m/y")}}<br> 3:00 PM
      </div>
      <div class="item-title">Colis enlevé</div>
      <div class="item-detail">En tourné vers le hub</div>
    </li>
    {% endif %}
     {% if etat == "en hub" %}
    
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        {{ colis.hubat | date("d/m/y")}}<br> 3:00 PM
      </div>
      <div class="item-title">Colis en stock</div>
      <div class="item-detail">Planification de livraison</div>
    </li>
    {% endif %}

    {% if etat == "en cours de livraison" %}
    
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        {{ colis.delivat | date("d/m/y")}}<br> 4:00 AM
      </div>
      <div class="item-title">En tourné vers le client</div>
      <div class="item-detail">En cours de livraison</div>
    </li>
    {% endif %}

    {% if etat == "livre" %}
    
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        {{ colis.delivat | date("d/m/y")}}<br> 6:18AM
      </div>
      <div class="item-title">Colis livré</div>
      <div class="item-detail">Réglage du paiment</div>
    </li>
    {% endif %}

    {% if etat == "annomalie" %}
    
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        {{ colis.delivat | date("d/m/y")}}<br> 7:00 PM
      </div>
      <div class="item-title">Colis retourne au hub</div>
      <div class="item-detail">Annomalie détécté</div>
    </li>
    {% endif %}

    {% endfor %}

  </ul>

</div>

<div class="card" style="background-color: #f4f6f9;">
    <div class="img" style="max-height:25%; max-width:25%;">
        <img src="{{ asset ('theme/dist/img/colis.png') }}" alt="" style="position:relative; left:100px;">
    </div>
    <div class="card-box" style=" width:600px; border: 1px solid black;  position: relative;left:470px; bottom:170px; ">
        <div>
           <h5> Poid : {{colis.poid}}</h5><br>
           <h5> Longeur : {{colis.longeur}}</h5><br>
           <h5> Hauteur : {{colis.hauteur}}</h5><br>
           <h5> Largeur : {{colis.largeur}}</h5><br>
           <h5> Prix : {{colis.prix}} DT TTC</h5><br>    
           
        </div>
           
    </div>
</div>
{% endblock %}