{% extends "base.html.twig" %}

{% block body %}
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="../assets/img/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>
			Créer Nouveau Colis
		</title>
		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
		<!--     Fonts and icons     -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<!-- CSS Files -->
		<link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
		<!-- CSS Just for demo purpose, don't include it in your project -->
		<link href="../assets/demo/demo.css" rel="stylesheet" />
	</head>
	<body class="">
	<div class="container overflow-hidden">
		<div class="multisteps-form">
			<div class="row">
				<div class="col-12 col-lg-8 ml-auto mr-auto mb-4">


					<div class="card">
						<div class="ccard-header card-header-warning">
							<h4 class="card-title">Créer Nouveau Colis</h4>
							<p class="card-category">Entrez Les Informations nécessaire</p>
						</div>
						<div class="card-body">

							<form action="{{ path('créer_colis') }}" method="post">
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">


											<input type="text" class="form-control" disabled name="prenom" value={{ user.name }}>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">


											<input type="text" class="form-control" name="nom" value={{ user.lastname }}>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">

											<input type="Text" class="form-control"  name="fcon" value={{ user.fcon | date("d/m/Y") }}>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">

											<input type="text" class="form-control" value={{user.tel}} name="Téléphone">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">

											<input type="email" class="form-control" name="mail" value="{{user.email}}">
										</div>
									</div>
								</div>
								<div class="form-row mt-4">
									<div class="col-12 col-sm-6">
										<select class="multisteps-form__input form-control" name="gouv_c" id="gouvc" onchange="myFunction1()"/>
										</select>
									</div>
									<div class="col-6 col-sm-3 mt-4 mt-sm-0">
										<select class="multisteps-form__select form-control" name="ville_c" id="villec" onchange="mycode1()">


										</select>
									</div>
									<div class="col-6 col-sm-3 mt-4 mt-sm-0">
										<input class="multisteps-form__input form-control" type="text" name="zip_c" placeholder="Code Postal"/>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">

												<input type="text" class="form-control" name="adr_c" placeholder="Adresse">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">

												<select class="form-control" name="tserv_c">
													<option>service</option>
													<option>COD</option>
													<option>ECH</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">

												<select class="form-control" name="tcolis_c">
													<option>Type de colis</option>
													<option>BLK</option>
													<option>Colis</option>
													<option>Document</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">

												<select class="form-control" name="tenlev_c">
													<option>Type d'énlevement</option>
													<option>Drop</option>
													<option>ONP</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Longeur Colis</label>
												<input type="text" class="form-control" name="long_c">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Largeur Colis</label>
												<input type="text" class="form-control" name="larg_c">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Hauteur Colis</label>
												<input type="text" class="form-control" name="haut_c">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Poid Colis</label>
												<input type="text" class="form-control" name="poid_c">
											</div>
										</div>
									</div>

									<div class="row">

										<div class="col-md-4">
											<div class="form-group">

												<select class="form-control" name="tpaim_c">
													<option>Mode de paiement</option>
													<option>Trette</option>
													<option>Chéque</option>
													<option>Espece</option>
													<option>Virement</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input type="text" class="form-control" name="tprix_c" placeholder="Prix">
											</div>
										</div>


									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">

												<div class="form-group">
													<label class="bmd-label-floating"> Remarque</label>
													<textarea class="form-control" rows="5" name="rq_c" type="text"></textarea>
												</div>
											</div>
										</div>
									</div>



								</div>

								<button type="submit" class="btn btn-primary pull-right" title="Send" style="background-color:#ffad33">Envoyer</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>


				</div>
			</div>
		</div>
	</body>
{% endblock %}
