{% extends "base.html.twig" %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		{% if is_granted('ROLE_ADMIN') %}
		<div class="card-body">
			<form action="{{path('liste_colis_a')}}" method="post" class="form-group">
				<select name="etat" id="etat" class="form-control">
					<option value="Etat">Etat</option>
					<option value="Livre">Livré</option>
					<option value="Enelvé">Eneleve</option>
					<option value="Anomalie">Anomalie</option>
				</select>

				<select name="user" id="user" class="form-control">
        <option value="Fournisseur">Fournisseur</option>
            {% for fourn in fourns %}

          <option value="{{fourn.name}}">{{fourn.name}}</option>

            {% endfor %}
				</select>
        <input type="submit" value="Filtrer" class="btn btn-primary">
			</form>
{% endif %}
			<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length" id="example1_length">
							<label>Show
								<select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								entries</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div id="example1_filter" class="dataTables_filter">
							<label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">

						<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Client</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Contact</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Destinataire</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Adresse</th>

									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Prix</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Etat</th>


									<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Type de service</th>


									<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Actions</th>
								</tr>
							</thead>
							<tbody>

									{% for coli in colis %}

										{% if x % 2 ==1 %}
											<tr role="row" class="odd">

												<td>{{coli.id}}</td>
												<td>{{coli.fournisseur.name}}
													{{coli.fournisseur.lastname}}</td>
												<td>{{ coli.telc }}</td>
												<td>{{coli.nomc}}
													{{coli.prenomc}}</td>
												<td>{{ coli.destination }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.etat}}</td>
												<td>{{coli.tserv}}</td>
												<td>
													<a href="{{ path('fiche_colis', {'id' : coli.id }) }}" class="btn btn-sm btn-success">Fiche</a>
													<a href="{{ path('colis_print' , {'id':coli.id}) }}" class="btn btn-sm btn-danger">Imprimer</a>
												</td>
											</tr>
											{% set x = x+1 %}
										{% else %}
											<tr role="row" class="even">

												<td>{{coli.id}}</td>
												<td>{{coli.fournisseur.name}}
													{{coli.fournisseur.lastname}}</td>
												<td>{{ coli.telc }}</td>
												<td>{{coli.nomc}}
													{{coli.prenomc}}</td>
												<td>{{ coli.destination }}</td>
												<td>{{coli.prix}}</td>
												<td>{{coli.etat}}</td>
												<td>{{coli.tserv}}</td>
												<td>
													<a href="{{ path('fiche_colis', {'id' : coli.id }) }}" class="btn btn-sm btn-success">Fiche</a>
													<a href="{{ path('colis_print' , {'id':coli.id}) }}" class="btn btn-sm btn-danger">Imprimer</a>
												</td>
											</tr>
											{% set x = x+1 %}
										{% endif %}
										{% else %}
											<td>Pas de résultats</td>
									{% endfor %}

							</tbody>

						</table>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->


					<!-- page script -->

				{% endblock %}
