


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('theme/style.css') }}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/jqvmap/jqvmap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset ('theme/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/daterangepicker/daterangepicker.css') }}">
  <!-- summernote -->
  <link rel="stylesheet" href="{{ asset ('theme/plugins/summernote/summernote-bs4.css') }}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <h3>Livreur : {{ Livreur.name }} {{ Livreur.lastname }}</h3>
   <h3>CIN : {{ Livreur.cin }}</h3>
   <h3>téléphone : {{ Livreur.tel }}</h3>
   <h3>Matricule Livraison : #468168</h3>

       <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code</th>

                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Téléphone fournisseur</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Destination</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Client</th>
                  
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Téléphone client</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Montant</th>

                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Motif</th>
                  </tr>
                  </thead>
                  <tbody>
                        {% for coli in colis %}   

                            {% if x % 2 ==1 %}
                            <tr role="row" class="odd">
                                            <td></td>
                                            <td>{{coli.id.id}}</td>
                                            <td>{{coli.id.fournisseur.name}}</td>
                                            <td>{{coli.id.fournisseur.tel}}</td>
                                            <td>{{ coli.id.destination }}</td>
                                            <td>{{ coli.id.nomC }} {{ coli.id.prenomC }}</td>
                                            <td>{{ coli.id.telC }}</td>
                                            <td>{{coli.id.prix}}</td>
                                            <td>{{coli.id.rq}}</td>
                                        </tr>
                                        {% set x = x+1 %}
                            {% else %}
                                       <tr role="row" class="even">
                                            <td></td>
                                            <td>{{coli.id.id}}</td>
                                            <td>{{coli.id.fournisseur.name}}</td>
                                            <td>{{coli.id.fournisseur.tel}}</td>
                                            <td>{{ coli.id.destination }}</td>
                                            <td>{{ coli.id.nomC }} {{ coli.id.prenomC }}</td>
                                            <td>{{ coli.id.telC }}</td>
                                            <td>{{coli.id.prix}}</td>
                                            <td>{{coli.id.rq}}</td>
                                        </tr>
                                        {% set x = x+1 %}
                            {% endif %}                     
                        {% endfor %}
                    
                    </tbody>

                </table>
</body>
</html>