{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="form-group">
			<form action="{{ path('debrief_liv') }}" method="POST">

				<div class="row">
					<div class="col-6">

						<select class="form-control" name="tliv">
							<option>livreur</option>
							{% for livreur in livreurs %}
								<option>{{ livreur.name }}</option>
								

							{% endfor %}

						</select>
					</div>
					<div class="col-6 ">
						<input type="text" name="date" class="form-control" placeholder="Donner la date">
					</div>
				</div>

			</div>

			<input type="text" placeholder="Code Colis" name="code_rc"/>
			<input type="submit" value="Envoyer"/>
		</form>


		<form action="{{ path('create_debrief',{'date' : date }) }}" method="POST">
			<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
				<thead>
					<tr role="row">
						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code</th>

						<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Téléphone fournisseur</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Destination</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Client</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Téléphone client</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Montant</th>

						<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Motif</th>
					</tr>
				</thead>
				<tbody name="table">
					{% for coli in colis %}

						{% if x % 2 ==1 %}
							<tr role="row" class="odd">
								<td></td>
								<td>{{coli.id.id}}</td>
								<td>{{coli.id.fournisseur.name}}</td>
								<td>{{coli.id.fournisseur.tel}}</td>
								<td>{{ coli.id.destination }}</td>
								<td>{{ coli.id.nomC }}
									{{ coli.id.prenomC }}</td>
								<td>{{ coli.id.telC }}</td>
								<td>{{coli.id.prix}}</td>
								<td>{{coli.id.rq}}</td>
							</tr>
							{% set x = x+1 %}
						{% else %}
							<tr role="row" class="even">
								<td></td>
								<td>{{coli.id.id}}</td>
								<td>{{coli.id.fournisseur.name}}</td>
								<td>{{coli.id.fournisseur.tel}}</td>
								<td>{{ coli.id.destination }}</td>
								<td>{{ coli.id.nomC }}
									{{ coli.id.prenomC }}</td>
								<td>{{ coli.id.telC }}</td>
								<td>{{coli.id.prix}}</td>
								<td>{{coli.id.rq}}</td>
							</tr>
							{% set x = x+1 %}
						{% endif %}
					{% endfor %}

				</tbody>

			</table>
			<div class="container">
				<div class="row">
					<div class="form-group">
						<div class="col-6">
							<select class="form-control" name="etat">
								<option>Etats</option>
								<option value="Livre">Livré</option>
								<option value="anomalie">Anomalie</option>

							</select>
						</div>
						<div class="col-6">
							<select name="anom" id="" class="form-control">
								<option value="Pas de réponse">Pas de réponse</option>
								<option value="Téléphone fermé">Téléphone fermé</option>
								<option value="Client n'est pas sérieux">Client n'est pas sérieux</option>
								<option value="Client non disponible">Client non disponible</option>
								<option value="Colis non conforme">Colis non conforme</option>
								<option value="Adresse de colis incorrect">Adresse de colis incorrect</option>
								<option value="Colis refusé par le client">Colis refusé par le client</option>
								<option value="Colis refusé par le fournisseur">Colis refusé par le fournisseur</option>
								<option value="Colis refusé">Colis refusé</option>
								<option value="Colis retour dépot">Colis retour dépot</option>
							</select>
						</div>
					</div>
				</div>
			</div>




			<input type="submit" value="Create" onClick="f()">
		</form>
	</div>

<script>
function f() {
  var person = prompt("Please enter your Password");

}
</script>
{% endblock %}
