{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="form-group">

			<div class="row">
				<div class="col-6">

					<select class="form-control" name="tliv">
						<option>livreur</option>
						{% for livreur in livreurs %}
							<option>{{ livreur.name }}</option>
						{% endfor %}

					</select>
				</div>
				<div class="col-6 ">
					<input type="text" name="date" class="form-control" placeholder="Donner la date">
				</div>
			</div>

		</div>

		<input type="text" placeholder="Code Runsheet" id="code_rc"/>
		<input type="button" onclick="f()" value="Envoyer"/>


		<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
			<thead>
				<tr role="row">
					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>

					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Fournisseur</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Prix</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Etat</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Date de création
					</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Remarque</th>
				</tr>
			</thead>
			<tbody>
				{% if colis | length ==1 %}
					<tr role="row" class="odd">
						<td>{{colis.codec}}</td>
						<td>{{colis.tserv}}</td>
						<td>{{colis.tcolis}}</td>
						<td>{{ colis.mpaie }}</td>
						<td>{{colis.prix}}</td>

						<td>{{colis.rq}}</td>
						<td></td>
					</tr>
				{% else %}
					{% for coli in colis %}

						{% if x % 2 ==1 %}
							<tr role="row" class="odd" id="{{ coli.id }}" name="{{ coli.etat }}" hidden>
								<td>
									{% if coli.runsheet != NULL %}
										<input type="checkbox" name="ch" id="{{coli.runsheet.id}}">
									{% else %}
										<input type="checkbox" name="ch" id="NULL">
									{% endif %}

								</td>
								<td>{{coli.id}}</td>
								<td>{{ coli.Fournisseur.name }}
									{{ coli.Fournisseur.lastname }}</td>
								<td>{{coli.prix}}</td>
								<td>{{coli.etat}}</td>
								<td>{{coli.createdat | date("m/d/Y")}}</td>
								<td>{{coli.rq}}</td>
							</tr>
							{% set x = x+1 %}
						{% else %}
							<tr role="row" class="even" id="{{ coli.id }}" name="{{ coli.etat }}" hidden>

								<td>
									{% if coli.runsheet != NULL %}
										<input type="checkbox" name="ch" id="{{coli.runsheet.id}}">

									{% else %}
										<input type="checkbox" name="ch" id="NULL">
									{% endif %}


								</td>
								<td>{{coli.id}}</td>
								<td>{{ coli.Fournisseur.name }}
									{{ coli.Fournisseur.lastname }}</td>
								<td>{{coli.prix}}</td>
								<td>{{coli.etat}}</td>
								<td>{{coli.createdat | date("m/d/Y")}}</td>
								<td>{{coli.rq}}</td>
								{% set x = x+1 %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</tbody>
			</tbody>
		</table>

	</div>
	<input type="text" name="colis" id="colis" placeholder="Code colis" hidden class="form-control">
	<br>
	<br>
	<form action="{{ path('create_debrief') }}" method="post" class="form-group">
		<select class="form-control" name="tliv">
			<option>livreur</option>
			{% for livreur in livreurs %}
				<option>{{ livreur.name }}
				</option>

			{% endfor %}

		</select>
        <br>
        <br>
		<select name="etat" id="etat" class="form-control">
			<option value="etat">Etats</option>
			<option value="Livre">Livré</option>
			<option value="enleve">Enlevé</option>
			<option value="anomalie">Anomalie</option>
		</select>
        <br>
        <br>
        <select name="anom" id="anom" class="form-control">
            <option value="Pas de réponse">Pas de réponse</option>
            <option value="Colis refusé par le client">Colis refusé par le client</option>
            <option value="Colis refusé par le fournisseur">Colis refusé par le fournisseur</option>
            <option value="Colis refusé">Colis refusé</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
		<input type="text" name="liv" id="liv" hidden>
		<input type="text" name="enl" id="enl" hidden>
		<input type="button" onclick="f1()" value="Confirmer" class="btn btn-primary">
		<input type="submit" value="Envoyer" id="btn-en" class="btn btn-success" hidden>
	</form>

	<script>
		function f() {
var x = document.getElementById("code_rc").value;
var e = document.getElementsByName("ch");
var e1 = document.getElementById("liv");
var e2 = document.getElementById("enl");
var e3 = document.getElementById("colis");
console.log(x);

if(x[0] == "A"){
	var y = "";
	for (let i = 1; i < x.length-1; i++) {
		y = y + x[i];
		
	}
	console.log(y);
	x = y ;
}
var i = 0;
e.forEach(element => {
if (element.id == x) {
i = 1;
(element.parentElement).parentElement.removeAttribute("hidden");

}
});

console.log(i);
if (i === 0) 
alert("Error , please verify the code or rescan it !");



e3.removeAttribute("Hidden");

}
	</script>

	<script>
		function f1() {
var e1 = document.getElementById("liv");
var e2 = document.getElementById("enl");
var e = document.getElementsByName("ch");
var e3 = document.getElementById("colis");
var a = "";
e.forEach(element => {
a = "";
e3.checked = true;
if ((element.parentElement).parentElement.id == e3.value) {
element.checked = true;
a = (element.parentElement).parentElement.id;
console.log((element.parentElement).parentElement.getAttribute("name"));
if((element.parentElement).parentElement.getAttribute("name") == "en cours de livraison")
    e1.value = e1.value + a + "/";
else
e2.value = e2.value + a + "/";
}

});
document.getElementById("btn-en").removeAttribute("hidden");
}
	</script>
{% endblock %}
