{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="form-group">
			<form action="{{ path('runsheet_liv') }}" method="POST">
				<select class="form-control" id="tliv1">
					<option>livreur</option>
					{% for livreur in livreurs %}
						<option>{{ livreur.name }}</option>

					{% endfor %}

				</select>
			</div>

		</form>

		<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
			<thead>
				<tr role="row">
					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>

					<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Code colis</th>


					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Fournisseur</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Prix</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Date de création</th>

					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Remarque</th>
				</tr>
			</thead>
			<tbody>
				{% for coli in colis %}
					{% if x % 2 ==1 %}
						<tr role="row" class="odd">

							<td><input type="checkbox" name="ch" id="ch" value="{{coli.id}}"></td>
							{% set i = i + 1 %}
							<td>{{coli.id}}</td>
							<td>{{ coli.Fournisseur.name }}
								{{ coli.Fournisseur.lastname }}</td>
							<td>{{coli.prix}}</td>
							<td>{{coli.createdat | date("m/d/Y")}}</td>
							<td>{{coli.rq}}</td>
						</tr>
						{% set x = x+1 %}
					{% else %}
						<tr role="row" class="even">
							<td><input type="checkbox" name="ch" id="ch" value="{{coli.id}}"></td>
							{% set i = i + 1 %}
							<td>{{coli.id}}</td>
							<td>{{ coli.Fournisseur.name }}
								{{ coli.Fournisseur.lastname }}</td>
							<td>{{coli.prix}}</td>
							<td>{{coli.createdat | date("m/d/Y")}}</td>
							<td>{{coli.rq}}</td>
						</tr>
						{% set x = x+1 %}
					{% endif %}
				{% endfor %}

			</tbody>

		</table>

        <button onclick=checkable() class="btn btn-success">Confirm</button>
        <br>
        <br>
        <form action="{{ path('confirm') }}" method="post">
        <input type="text" name="inp" id="inp" hidden>
        <input type="text" name="tliv" id="tliv" hidden>
            <input type="submit" value="Dispatch" class="btn btn-primary" id="bt" hidden>
        </form>
        
	</div>

<script>

    function checkable(){
        var e = document.getElementsByName("ch");
        var s=""; 
        for ( var i = 0; i < e.length; i++) {
            if (e[i].checked)
                s = s + e[i].value + "/";
 
            
        }
        
        document.getElementById("inp").value = s;
         document.getElementById("bt").removeAttribute("hidden");
        document.getElementById("tliv").value=document.getElementById("tliv1").value;


    }


</script>
{% endblock %}
