{% extends "base.html.twig" %}

{% block body %}
	<div class="content">
		<div class="container-fluid">

			{% if is_granted('ROLE_ADMIN') %}
				<div class="card-body">
					<form action="#" method="post">
						<div class="col-20 text-center">
							<div class="form-group">
								<label class="bmd-label-floating">From</label>
								<input type="date" class="form-control" id="start" name="trip-start"
									   value="2021-01-01"
									   min="2021-01-01" max="2030-12-31" >
							</div>
						</div>
						<div class="col-30 text-center">
							<div class="form-group">
								<label class="bmd-label-floating">To</label>
								<input type="date" class="form-control" id="fin" name="trip-fin"
									   value="2021-01-01"
									   min="2021-01-01" max="2030-12-31">
								<input type="button" onclick="f1()" value="Appliqué" class="btn btn-primary" >
							</div>
						</div>

					</form>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon">
									<h3>{{ colis | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">En attente

								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path ('colis_en_attente')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-success card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">Livré</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_enlevement')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-danger card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">En Stock</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_enlevement')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-info card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">livrés
									<small>payés</small>
								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path ('colis_livrée')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon">
									<h3>{{ colis | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">Annulés

								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_annule')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card card-plain">
							<div class="card-header card-header-primary">
								<h4 class="card-title mt-0" align="center"> TOUS LES COLIS: {{ colis | length }}</h4>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-12">
					<div class="card card-plain">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover" style="font-size:1.5em;">
									<thead class="">
									<th style="font-size:1.25em;">
										Reference
									</th>
									<th style="font-size:1.25em;">
										Date
									</th>
									<th style="font-size:1.25em;">
										Nom
									</th>
									<th style="font-size:1.25em;">
										Addresse
									</th>
									<th style="font-size:1.25em;">
										Télephone
									</th>
									<th style="font-size:1.25em;">
										COD
									</th>
									<th style="font-size:1.25em;">
										Gouvernorate
									</th>
									<th style="font-size:1.25em;">
										Etat
									</th>
									</thead>
									{% for colis in colis %}
										<tbody>
										<tr>
											<td>
												{{colis.id }}
											</td>
											<td>
												{{colis.createdAt  | date("d/m/y") }}
											</td>
											<td>
												{{colis.prenomC }}
											</td>
											<td>
												{{colis.destination }}
											</td>
											<td>
												{{colis.telC }}
											</td>
											<td>
												{{colis.prix }}
											</td>
											<td>
												{{colis.destination }}
											</td>
											<td>
												{{colis.etat }}
											</td>
										</tr>

										</tbody>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="card-body">
					<form action="#" method="post">
						<div class="col-20 text-center">
							<div class="form-group">
								<label class="bmd-label-floating">From</label>
								<input type="date" class="form-control" id="start" name="trip-start"
									   value="2021-01-01"
									   min="2021-01-01" max="2030-12-31" >
							</div>
						</div>
						<div class="col-30 text-center">
							<div class="form-group">
								<label class="bmd-label-floating">To</label>
								<input type="date" class="form-control" id="fin" name="trip-fin"
									   value="2021-01-01"
									   min="2021-01-01" max="2030-12-31">
								<input type="button" onclick="f1()" value="Appliqué" class="btn btn-primary" >
							</div>
						</div>

					</form>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon">
									<h3>{{ colis | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">En attente

								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path ('colis_en_attente')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-success card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">Livré</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_enlevement')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-danger card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">En Stock</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_enlevement')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-info card-header-icon">
								<div class="card-icon">
									<h3>{{ colis_e | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">livrés
									<small>payés</small>
								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path ('colis_livrée')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon">
									<h3>{{ colis | length }}</h3>
								</div>
								<p class="card-category">Colis</p>
								<h3 class="card-title">Annulés

								</h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="{{path('colis_annule')}}">More info..</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card card-plain">
							<div class="card-header card-header-primary">
								<h4 class="card-title mt-0" align="center"> TOUS LES COLIS: {{ colis | length }}</h4>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-12">
					<div class="card card-plain">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover" style="font-size:1.5em;">
									<thead class="">
									<th style="font-size:1.25em;">
										Reference
									</th>
									<th style="font-size:1.25em;">
										Date
									</th>
									<th style="font-size:1.25em;">
										Nom
									</th>
									<th style="font-size:1.25em;">
										Addresse
									</th>
									<th style="font-size:1.25em;">
										Télephone
									</th>
									<th style="font-size:1.25em;">
										COD
									</th>
									<th style="font-size:1.25em;">
										Gouvernorate
									</th>
									<th style="font-size:1.25em;">
										Etat
									</th>
									</thead>
									{% for colis in colis %}
										<tbody>
										<tr>
											<td>
												{{colis.id }}
											</td>
											<td>
												{{colis.createdAt  | date("d/m/y") }}
											</td>
											<td>
												{{colis.prenomC }}
											</td>
											<td>
												{{colis.destination }}
											</td>
											<td>
												{{colis.telC }}
											</td>
											<td>
												{{colis.prix }}
											</td>
											<td>
												{{colis.destination }}
											</td>
											<td>
												{{colis.etat }}
											</td>
										</tr>

										</tbody>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
