<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login </title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets1/css/login.css">
</head>
<body>
{% if error %}
  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 login-section-wrapper">
        <div  >
          <img src="assets1/images/logoTRY2.PNG" alt="logo" class="logo" style="max-width: 200px; max-height: 150px;">
        </div>
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in</h1>
          <form method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="username" id="inputUsername" class="form-control" placeholder="enter your username">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="enter your passsword">
            </div>
            <button type="submit" class="btn btn-block login-btn">Login</button>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
          </form>
          <a href="#!" class="forgot-password-link">Forgot password?</a>

        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="assets1/images/imageLogin.jpg" alt="login image" class="login-img">
      </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
