{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Register</h1>
	<div class="row" onload="load()">
		<div class="col-12 col-lg-8 m-auto">
			<form action="{{ path('app_register') }}" method="post" class="multisteps-form__form">
				<div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
					<h3 class="multisteps-form__title">informations fournisseur</h3>
					<div class="multisteps-form__content">
						<div class="form-row mt-4">
							<div class="col-12 col-sm-6">
								<input class="multisteps-form__input form-control" type="text" name="prenom" placeholder="Prénom"/>
							</div>
							<div class="col-12 col-sm-6 mt-4 mt-sm-0">
								<input class="multisteps-form__input form-control" type="text" name="nom" placeholder="Nom"/>
							</div>
						</div>


						<div class="form-row mt-4">
							<div class="col-12 col-sm-6">
								<input class="multisteps-form__input form-control" id="datepicker" type="text" name="fcon" placeholder="Fin de contrat : {{ 'now'|date_modify(" + 1 year")|date(" d/m/y") }}"/>
							</div>
							<div class="col-12 col-sm-6 mt-4 mt-sm-0">
								<input class="multisteps-form__input form-control" type="text" placeholder="Téléphone" name="tel"/>
							</div>
						</div>

						<div class="form-row mt-4">
							<div class="col-12 col-sm-6">
								<select class="multisteps-form__select form-control" name="gouv" onchange="myFunction()" id="gouvsel"></select>

							</div>
							<div class="col-6 col-sm-3 mt-4 mt-sm-0">
								<select class="multisteps-form__select form-control" name="ville" id="villesel" onchange="mycode()"></select>
							</div>
							<div class="col-6 col-sm-3 mt-4 mt-sm-0">
								<input class="multisteps-form__input form-control" type="text" name="zip" id="zip" placeholder="Zip"/>
							</div>
						</div>


						<div class="form-row mt-4">
							<div class="col-12 col-sm-6 mt-4 mt-sm-0">
								<input class="multisteps-form__input form-control" name="mail" type="email" placeholder="Email"/>
							</div>
						</div>

						<div class="form-row mt-4">
							<div class="col-12 col-sm-6">
								<input class="multisteps-form__input form-control" type="text" name="prix_liv" placeholder="Prix de Position"/>
							</div>
							<div class="col-12 col-sm-6 mt-4 mt-sm-0">
								<input class="multisteps-form__input form-control" type="text" name="nom_comp" placeholder="Nom complet/Société"/>
							</div>
						</div>

						<div class="button-row d-flex mt-4">
							<button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>


	<script>
		const DOMstrings = {
stepsBtnClass: 'multisteps-form__progress-btn',
stepsBtns: document.querySelectorAll(`.multisteps-form__progress-btn`),
stepsBar: document.querySelector('.multisteps-form__progress'),
stepsForm: document.querySelector('.multisteps-form__form'),
stepsFormTextareas: document.querySelectorAll('.multisteps-form__textarea'),
stepFormPanelClass: 'multisteps-form__panel',
stepFormPanels: document.querySelectorAll('.multisteps-form__panel'),
stepPrevBtnClass: 'js-btn-prev',
stepNextBtnClass: 'js-btn-next'
};


const removeClasses = (elemSet, className) => {

elemSet.forEach(elem => {

elem.classList.remove(className);

});

};

const findParent = (elem, parentClass) => {

let currentNode = elem;

while (! currentNode.classList.contains(parentClass)) {
currentNode = currentNode.parentNode;
}

return currentNode;

};

const getActiveStep = elem => {
return Array.from(DOMstrings.stepsBtns).indexOf(elem);
};

const setActiveStep = activeStepNum => {

removeClasses(DOMstrings.stepsBtns, 'js-active');

DOMstrings.stepsBtns.forEach((elem, index) => {

if (index <= activeStepNum) {
elem.classList.add('js-active');
}

});
};

const getActivePanel = () => {

let activePanel;

DOMstrings.stepFormPanels.forEach(elem => {

if (elem.classList.contains('js-active')) {

activePanel = elem;

}

});

return activePanel;

};

const setActivePanel = activePanelNum => {

removeClasses(DOMstrings.stepFormPanels, 'js-active');

DOMstrings.stepFormPanels.forEach((elem, index) => {
if (index === activePanelNum) {

elem.classList.add('js-active');

setFormHeight(elem);

}
});

};

const formHeight = activePanel => {

const activePanelHeight = activePanel.offsetHeight;

DOMstrings.stepsForm.style.height = `${activePanelHeight}px`;

};

const setFormHeight = () => {
const activePanel = getActivePanel();

formHeight(activePanel);
};

DOMstrings.stepsBar.addEventListener('click', e => {

const eventTarget = e.target;

if (! eventTarget.classList.contains (`${
DOMstrings.stepsBtnClass
}`)) {
return;
}

const activeStep = getActiveStep(eventTarget);

setActiveStep(activeStep);

setActivePanel(activeStep);
});

DOMstrings.stepsForm.addEventListener('click', e => {

const eventTarget = e.target;

if (!(eventTarget.classList.contains (`${
DOMstrings.stepPrevBtnClass
}`) || eventTarget.classList.contains (`${
DOMstrings.stepNextBtnClass
}`))) {
return;
}

const activePanel = findParent(eventTarget, `${
DOMstrings.stepFormPanelClass
}`);

let activePanelNum = Array.from(DOMstrings.stepFormPanels).indexOf(activePanel);

if (eventTarget.classList.contains (`${
DOMstrings.stepPrevBtnClass
}`)) {
activePanelNum--;

} else {

activePanelNum++;

} setActiveStep(activePanelNum);
setActivePanel(activePanelNum);

});

window.addEventListener('load', setFormHeight, false);

window.addEventListener('resize', setFormHeight, false);


const setAnimationType = newType => {
DOMstrings.stepFormPanels.forEach(elem => {
elem.dataset.animation = newType;
});
};

// changing animation
const animationSelect = document.querySelector('.pick-animation__select');

animationSelect.addEventListener('change', () => {
const newAnimationType = animationSelect.value;

setAnimationType(newAnimationType);
});
	</script>
	<script>
		function clearOpt() {
var vilesel = document.getElementById('villesel');
for (i = vilesel.options.length - 1; i >= 0; i --) {
vilesel.options[i] = null;
}
}
	</script>
	<script type="text/javascript" src="{{ asset ('data.json') }} "></script>
	<script>
		function myFunction() {
var x = document.getElementById("gouvsel");
clearOpt()
if (x.selectedIndex >= 0) {
console.log("mydata");
console.log("x.selectedIndex");
console.log(x.value);
var mydata = JSON.parse(window[x.value]);
for (var i = 0; i < mydata.length; i++) {
document.getElementById('villesel').innerHTML = document.getElementById('villesel').innerHTML + "<option value=" + i + " name='ville'>" + mydata[i].NAME_EN + "</option>";

console.log(mydata[i].NAME_EN);
console.log(mydata[i].code_postal);
}


}


}
	</script>


	<script>
		function mycode() {
var x = document.getElementById("gouvsel");
if (x.selectedIndex >= 0) {
var mydata = JSON.parse(window[x.value]);
console.log(x);
console.log(mydata[x.selectedIndex - 1].code_postal);
document.getElementById('zip').innerHTML = document.getElementById('zip').innerHTML + "<p>" + mydata[x.selectedIndex - 1].code_postal + "</p>";


}
}
	</script>


{% endblock %}
