<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets2/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets2/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		FGS
	</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="../assets2/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="../assets2/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
<div class="wrapper ">
{% if is_granted('ROLE_ADMIN') %}

				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets2/img/sidebar-1.jpg">
					<div class="logo">
						<img src="assets1/images/logoTRY2.PNG" alt="logo" class="logo" style="max-width: 250px; max-height: 200px;">
					</div>
					<div class="sidebar-wrapper">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" href="./user.html">
									<i class="material-icons">person</i>
									<p>Utilisateurs</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item ">
										<a href="{{ path('app_register') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Créer utilisateurs</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('liste_user') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Liste des utilisateurs</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('creer_livreur') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Créer livreur</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./tables.html">
									<i class="material-icons">content_paste</i>
									<p>Colis</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('liste_colis_a') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Liste des colis</p>
										</a>
									</li>
								</ul>
							<li class="nav-item ">
								<a class="nav-link" href="#">
									<i class="material-icons">library_books</i>
									<p>Runsheet</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('new_runsheet') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Créer Runsheet</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./icons.html">
									<i class="material-icons">bubble_chart</i>
									<p>Debrief</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('debrief') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Debrief quotidien</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./typography.html">
									<i class="material-icons">library_books</i>
									<p>Retour</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('retour') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Liste des retours</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./tables.html">
									<i class="material-icons">content_paste</i>
									<p>Recette</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('recette') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Recette Général</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="{{ path('dispatch') }}">
									<i class="material-icons">dashboard</i>
									<p>Dispatch</p>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./icons.html">
									<i class="material-icons">bubble_chart</i>
									<p>Console</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{ path('console') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Créer console</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('liste_console') }}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Entrée stock</p>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			{% else %}

					<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets2/img/sidebar-1.jpg">
						<div class="logo">
							<img src="assets1/images/logoTRY2.PNG" alt="logo" class="logo" style="max-width: 250px; max-height: 200px;">
						</div>
						<div class="sidebar-wrapper">
							<ul class="nav">
								<li class="nav-item ">
									<a class="nav-link" href="{{ path('home')}}">
										<i class="material-icons">dashboard</i>
										<p>Accueil</p>
									</a>
								</li>

								<li class="nav-item ">
									<a class="nav-link" href="{{ path('liste_colis_f') }}">
										<i class="material-icons">content_paste</i>
										<p>Colis Crée</p>
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="{{ path('formulaire') }}">
										<i class="material-icons">library_books</i>
										<p>Créer Nouveau colis</p>
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="./icons.html">
										<i class="material-icons">bubble_chart</i>
										<p>Gestion Des Colis</p>
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="./map.html">
										<i class="material-icons">location_ons</i>
										<p>Importation Excel</p>
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="./notifications.html">
										<i class="material-icons">notifications</i>
										<p>Guide Utilisateur</p>
									</a>
								</li>
							</ul>
						</div>
					</div>


	{% endif %}



	<div class="main-panel">
		<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
			<div class="container-fluid">
				<div class="navbar-wrapper">
					<a class="navbar-brand" href="{{ path('home')}}" style="font-size:1.25em;">Home</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end">
					<form class="navbar-form">
						<div class="input-group no-border">
							<input type="text" value="" class="form-control" placeholder="Search...">
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</div>
					</form>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">person</i>
								<p class="d-lg-none d-md-block">
									Account
								</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
								<a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</nav>

		<section class="content">
			{% block body %}{% endblock %}
		</section>
	</div>
		<footer class="footer">
			<div class="container-fluid">
				<nav class="float-left"></nav>
			</div>
		</footer>
	</div>

<!--   Core JS Files   -->
<script src="../assets2/js/core/jquery.min.js"></script>
<script src="../assets2/js/core/popper.min.js"></script>
<script src="../assets2/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets2/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Plugin for the momentJs  -->
<script src="../assets2/js/plugins/moment.min.js"></script>
<!--  Plugin for Sweet Alert -->
<script src="../assets2/js/plugins/sweetalert2.js"></script>
<!-- Forms Validations Plugin -->
<script src="../assets2/js/plugins/jquery.validate.min.js"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="../assets2/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../assets2/js/plugins/bootstrap-selectpicker.js"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="../assets2/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="../assets2/js/plugins/jquery.dataTables.min.js"></script>
<!--  Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="../assets2/js/plugins/bootstrap-tagsinput.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../assets2/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="../assets2/js/plugins/fullcalendar.min.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="../assets2/js/plugins/jquery-jvectormap.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets2/js/plugins/nouislider.min.js"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="../assets2/js/plugins/arrive.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="../assets2/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets2/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets2/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets2/demo/demo.js"></script>
<script>
	$(document).ready(function() {
		$().ready(function() {
			$sidebar = $('.sidebar');

			$sidebar_img_container = $sidebar.find('.sidebar-background');

			$full_page = $('.full-page');

			$sidebar_responsive = $('body > .navbar-collapse');

			window_width = $(window).width();

			fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

			if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
				if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
					$('.fixed-plugin .dropdown').addClass('open');
				}

			}

			$('.fixed-plugin a').click(function(event) {
				// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
				if ($(this).hasClass('switch-trigger')) {
					if (event.stopPropagation) {
						event.stopPropagation();
					} else if (window.event) {
						window.event.cancelBubble = true;
					}
				}
			});

			$('.fixed-plugin .active-color span').click(function() {
				$full_page_background = $('.full-page-background');

				$(this).siblings().removeClass('active');
				$(this).addClass('active');

				var new_color = $(this).data('color');

				if ($sidebar.length != 0) {
					$sidebar.attr('data-color', new_color);
				}

				if ($full_page.length != 0) {
					$full_page.attr('filter-color', new_color);
				}

				if ($sidebar_responsive.length != 0) {
					$sidebar_responsive.attr('data-color', new_color);
				}
			});

			$('.fixed-plugin .background-color .badge').click(function() {
				$(this).siblings().removeClass('active');
				$(this).addClass('active');

				var new_color = $(this).data('background-color');

				if ($sidebar.length != 0) {
					$sidebar.attr('data-background-color', new_color);
				}
			});

			$('.fixed-plugin .img-holder').click(function() {
				$full_page_background = $('.full-page-background');

				$(this).parent('li').siblings().removeClass('active');
				$(this).parent('li').addClass('active');


				var new_image = $(this).find("img").attr('src');

				if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
					$sidebar_img_container.fadeOut('fast', function() {
						$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
						$sidebar_img_container.fadeIn('fast');
					});
				}

				if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
					var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

					$full_page_background.fadeOut('fast', function() {
						$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
						$full_page_background.fadeIn('fast');
					});
				}

				if ($('.switch-sidebar-image input:checked').length == 0) {
					var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
					var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

					$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
					$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
				}

				if ($sidebar_responsive.length != 0) {
					$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
				}
			});

			$('.switch-sidebar-image input').change(function() {
				$full_page_background = $('.full-page-background');

				$input = $(this);

				if ($input.is(':checked')) {
					if ($sidebar_img_container.length != 0) {
						$sidebar_img_container.fadeIn('fast');
						$sidebar.attr('data-image', '#');
					}

					if ($full_page_background.length != 0) {
						$full_page_background.fadeIn('fast');
						$full_page.attr('data-image', '#');
					}

					background_image = true;
				} else {
					if ($sidebar_img_container.length != 0) {
						$sidebar.removeAttr('data-image');
						$sidebar_img_container.fadeOut('fast');
					}

					if ($full_page_background.length != 0) {
						$full_page.removeAttr('data-image', '#');
						$full_page_background.fadeOut('fast');
					}

					background_image = false;
				}
			});

			$('.switch-sidebar-mini input').change(function() {
				$body = $('body');

				$input = $(this);

				if (md.misc.sidebar_mini_active == true) {
					$('body').removeClass('sidebar-mini');
					md.misc.sidebar_mini_active = false;

					$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

				} else {

					$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

					setTimeout(function() {
						$('body').addClass('sidebar-mini');

						md.misc.sidebar_mini_active = true;
					}, 300);
				}

				// we simulate the window Resize so the charts will get updated in realtime.
				var simulateWindowResize = setInterval(function() {
					window.dispatchEvent(new Event('resize'));
				}, 180);

				// we stop the simulation of Window Resize after the animations are completed
				setTimeout(function() {
					clearInterval(simulateWindowResize);
				}, 1000);

			});
		});
	});
</script>
<script>
	$(document).ready(function() {
		// Javascript method's body can be found in assets/js/demos.js
		md.initDashboardPageCharts();

	});
</script>

</body>

</html>