{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section>
   {% for article in articles %}
   <article>
       <h2>{{ article.title}}</h2>
       <div> Erire le   {{ article.createdAt | date ('d/m/Y')}} a {{ article.createdAt | date ('H:i')}} </div>
       <div>   
          <img src="{{ article.imge }}" alt="" >

          {{ article.content | raw}}
          <a href="{{path('blog_show',{'id': article.id})}}" >Lire la suite </a>
       </div>

   </article>
   
   {% endfor %}
</section>
{% endblock %}
