{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
 
   <article>
       <h2>{{article.title}}</h2>
       <div> Erire le   {{ article.createdAt | date ('d/m/Y')}} a {{ article.createdAt | date ('H:i')}} </div>
       <div>   
          <img src="{{ article.imge }}" alt="" >

          {{ article.content | raw}}
          <a >Lire la suite </a>
       </div>

   </article>
   
 
{% endblock %}
